   
   
   /* Font Family */

.open-sans-normal{
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }


    /* Shared style  */

.text-center{
    text-align: center;
}    
.text-primary{
    color: #FD6E0A;
}
.secondary-bg{
    background-color: #FFF8F3;
}
.dark-1{
    color: #181818;
}
.dark-2{
    color: #474747;
}
.dark-3{
    color: #474747;
}
.btn-primary{
    background-color: #FD6E0A;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.section-title{
    font-size: 32px;
    font-weight: bold;
}
.section-description{
    font-size: 17px;
    font-weight: normal;
}

    /* Header area */
    .header{
        background-image: url(../assets/images/developer.png), url(../assets/images/header_bg.png);
        background-repeat: no-repeat;
        background-position: top left, right bottom;
        background-size: auto;
    }

   /* Nav section styling */

  nav{
    display: flex;
    justify-content: space-between;
    margin: 0px 150px;
    align-items: center;
  }
  nav ul{
    display: flex;
    align-items: center;
  }

  .nav-title{
    font-weight: 800;
    font-size: 45px;
  }

  nav ul li{
    list-style: none;
    margin: 51px;
  }

  nav li a{
    text-decoration: none;
    font-size: 20px;
  }


    /* Banner Styles */
  
  .banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
  }
  .banner-content{
    max-width: 495px;
  }
  .banner-greetings{
    font-size: 45px;
    font-weight:600;
  }
  .banner-title{
    font-size: 78px;
    font-weight:bold;
    margin-bottom: 20px;
  }
  .banner-description{
    font-size: 17px;
    font-weight: normal;
  }
  .btn-1{
    margin: 30px 30px 0px 0px;
  }

  /* main styles */
  main{
    max-width: 1280px;
    margin: 0 auto;
  }
  main section{
    margin-top: 130px;
    margin-bottom: 130px;
  }

  /* About Styles */

  .about{
    text-align: center;
    border-radius: 10px;
    padding: 130px 150px;
  }
  .about-items{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    font-size: 18px;
  }
  .item-description{
    font-weight: 600;
  }

  /* What I do section */
  .skill-container{
    display: flex;
    gap: 25px;
  }
  .skill{
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  }
  .section-description{
    margin-top: 30px;
    margin-bottom: 50px;
  }

  /* Resume container style */

  .section-title{
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 115px;
  }

  .resume-container{
    display: flex;
    gap: 25px;
  }
  .resume-column-title{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }
  .experience-title{
    color: #474747;
    font-size: 25px;
    font-weight: bold;
  }
  .experience-subtitle{
    color: #757575;
    font-size: 20px;
    font-weight: 600;
  }
  .experience-description{
    color: #757575;
    font-size: 16px;
    font-weight: normal;
  }

  /* Footer Style */

  footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
  }
  .footer-column{
    width: 50%;
  }
  footer input[type="text"], footer input[type="email"], footer textarea {
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    font-size: 16px;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
  }